body {
    background-color: #3657d9;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin: 1.5em;
    color: whitesmoke;
}

div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 8em;
}

h2 {
    color: whitesmoke;
}

button {
    margin: 1em;
    width: 150px;
    height: 75px;
    font-size: 22px;
    border-radius: 25px;
    background-color: green;
    border-style: hidden;
    color: white;
}

button:hover {
    font-weight: bold;
    border-width: 5px;
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    font-size: 20px;
}

.game-winner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}



